{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
   {% include 'partials/navbar.html.twig' %}

    <h1>Produit indisponible</h1>
    <p>Le produit n'est malheureusement plus disponible.</p>
{% endblock %}